params {

    reads   = "data/raw_fastq/*_{1,2}.fastq.gz"

    outdir  = "results"

    threads = 8
}

process {

    executor = 'local'

    cpus = params.threads

    publishDir = [
        mode: 'copy'
    ]
}

timeline {
    enabled = true
    file = "${params.outdir}/13_reports/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/13_reports/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/13_reports/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/13_reports/workflow_dag.html"
}