/*
------------------------------------------------------------
PRJNA279828 Microbiome Pipeline
Nextflow Configuration
------------------------------------------------------------
*/

params {

    // Input reads
    reads = "data/raw_fastq/*_{1,2}.fastq.gz"

    // Metadata
    metadata = "data/metadata/metadata.tsv"

    // SRA Run Table
    sra_table = "data/metadata/SraRunTable.csv"

    // Output directory
    outdir = "results"

    // Raw FASTQ directory
    raw_dir = "data/raw_fastq"

    // Reference database
    classifier = "reference/silva-138-99-nb-classifier.qza"

    // CPU threads
    threads = 8
}

process {

    executor = 'local'

    cpus = params.threads

    errorStrategy = 'terminate'

}

profiles {

    standard {

        process.executor = 'local'

    }

    conda {

        conda.enabled = true

    }

    docker {

        docker.enabled = true

    }

}