params {

    /*
     * =========================================================
     * PROJECT
     * =========================================================
     */

    project_id = "PRJNA279828"


    /*
     * =========================================================
     * INPUT / OUTPUT
     * =========================================================
     */

    raw_dir = "data/raw_fastq"

    metadata = "data/metadata/sample-metadata.tsv"

    outdir = "results"


    /*
     * =========================================================
     * COMPUTATIONAL RESOURCES
     * =========================================================
     */

    threads = 4

    download_threads = 4


    /*
     * =========================================================
     * QIIME2
     * =========================================================
     */

    qiime_env = "qiime2-amplicon-2025.10"

    trunc_len_f = 180

    trunc_len_r = 90

    max_ee_f = 2

    max_ee_r = 4

    sampling_depth = 30000

    classifier = "${projectDir}/resources/classifiers/silva-v4-classifier.qza"
}


/*
 * =========================================================
 * PROCESS CONFIGURATION
 * =========================================================
 */

process {

    executor = 'local'

    cpus = params.threads
}


/*
 * =========================================================
 * NEXTFLOW REPORTS
 * =========================================================
 */

timeline {

    enabled = true

    file = "${params.outdir}/13_reports/timeline.html"

    overwrite = true
}


report {

    enabled = true

    file = "${params.outdir}/13_reports/report.html"

    overwrite = true
}


trace {

    enabled = true

    file = "${params.outdir}/13_reports/trace.txt"

    overwrite = true
}


dag {

    enabled = true

    file = "${params.outdir}/13_reports/workflow_dag.html"

    overwrite = true
}